


thead.mid { 
  border-top: solid 1px grey;
}

.label { 
  margin-top: 3px;
}

.listbox { 
  border: solid 1px black;
  width: 250px;
  background-color: white;
}


.head {
  font-weight: bold;
  font-size: 9pt;
  margin: 2px 0 2px 0;
}


div.progress-container { 
  border: 1px solid #ccc; 
  width: 250px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  background: white;
  overflow: hidden;
}

div.progress-container > div.bar { 
  background-color: #ACE97C; 
  height: 12px;
  width: 50%;
}

div.hint { 
  z-index: 20;
  position: absolute;
  margin-top: 1px;
  visibility: hidden;
  width: 250px;
  text-align: center;
  color: #060;
}

div.progress-container:hover div.hint { 
  visibility: visible;
}

#main.window { 
  width: 820px; 
}

#TaskBar, #TaskBar .hint { 
  width: 800px;
 }

